/BaseElement.class
/Circle.class
/Close.class
/CubicTo.class
/Element.class
/Ellispe.class
/Line.class
/LineTo.class
/MoveTo.class
/PathOp.class
/Point2D.class
/Polygon.class
/Polyline.class
/QuadTo.class
/Rect.class
/SVG.class
/SVGLoader.class
/SVGParser.class
/Shape.class
/Text.class
/singeleton.class
